<div class="container my-3">
  <div class="row">
    <form class="form-group" [formGroup]="userNameForm" (submit)="connect()">
      <label for="user-name" class="form-label">Your Username</label>
      <div class="input-group">
        <input type="text" class="form-control" name="user-name" placeholder="Your Username" formControlName="userName">
        <button type="submit" class="btn btn-primary">Connect</button>
      </div>
    </form>
  </div>
  <hr />
  <div class="row">
    <form class="form-group" [formGroup]="sendMessageForm" (submit)="sendMessage()">
      <label for="receiver-user-name" class="form-label">Send to</label>
      <input type="text" class="form-control" name="receiver-user-name" placeholder="Receiver user name"
        formControlName="receiverUserName">
      <label for="message" class="form-label">Message</label>
      <div class="input-group">
        <input type="text" class="form-control" name="message" placeholder="type your message"
          formControlName="message">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </form>
  </div>

  <div class="row my-3">
    <div *ngFor="let message of this.signalRService.messages$ | async" class="col-12 my-1">
      <div *ngIf="message.messageOf == messageOfEnum.Sender" class="text-end">
        <div class="btn btn-light">
          {{message.messageText}}
        </div>
      </div>
      <div *ngIf="message.messageOf == messageOfEnum.Receiver">
        <div class="text-username">{{message.senderUserName}}</div>
        <div class="btn btn-light">
          {{message.messageText}}
        </div>
      </div>
    </div>
  </div>
</div>
